*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
html{
    scroll-behavior: smooth;
}

.colored-section{
    background: linear-gradient(to right, rgb(248, 87, 166), rgb(255, 88, 88));
}

.title-img{
    width: 50%;
    transform: rotate(35deg);
}
.big-heading, .testimonial-text{
    font-size: 3.2em;
    line-height: 4rem;
    color: #fff;
}


/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {

}